/*change on 700px width*/

@media (max-width: 700px){
    * {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .main-container{
        display:flex;
        flex-direction: column;
        height:100%;
        width: 100%;
    }

    .upper-container {
        display: flex;
        flex-direction: row;
    }

    .left,.right {
        display: flex;
        flex-direction: column;
        height: 75vh;
        
    }

    .lower-container {
        height: 25vh;
    }

    #leftclick, #rightclick {
        width : 150px;
        height : 40px;
        /* border-radius: px; */
        border: 2px solid white;
        /* border:none; */
        background-color:darkviolet ;
        color: white;
        font-weight: 700;
        font-size: 15px;
    
        margin-top: 30px;
        padding: 10px;
    
        transition: width 0.3s ease;
    }

    .color_view, .rgb-left, .hex-left, .rgb-right, .hex-right {
        display: flex;
        flex-direction: row;
        padding: 3px;
        flex-wrap: nowrap;
        /* justify-content: space-around; */
        align-items: center;
        width: 175px;
        height: 40px;
        /* border-radius: 3px; */
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.318);
    }

    .red, .green, .blue, .alpha {
        width: 25%;
        height: 80%;
        border-radius: 0px;
        background-color: rgb(255, 255, 255, 0.4);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font: 700 15px "Roboto", sans-serif ;
    
    }

    .red {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        margin-left:3px;
    }

    .alpha {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-right: 3px;
    }

    .red {
        background-color: rgb(255, 0, 0, 0.5);
    }
    .green {
        background-color: rgb(0, 255, 0, 0.5);
    }
    .blue {
        background-color: rgb(0, 0, 255, 0.5);
    }
    .alpha {
        color: black;
    }
    
    .red:hover {
        background-color: rgba(255, 0, 0, 1);
    }
    .green:hover {
        background-color: rgb(0, 255, 0, 1);
    }
    .blue:hover {
        background-color: rgb(0, 0, 255, 1);
    }
    .alpha:hover {
        background-color: rgb(255, 255, 255, 0.8);
    }


    /*Copy Buttons*/
    .hex-left-parent, .rgb-left-parent, .rgb-right-parent, .hex-right-parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hex-left-copy, .rgb-left-copy, .hex-right-copy, .rgb-right-copy {
        display: flex;

        align-items: center;
        justify-content: space-around;
        width: 70px;
        height: 20px;
        padding: 5px;
        border-radius: 3px;
        color: white;
        background-color: rgba(255, 255, 255, 0.318);

        cursor: pointer;
    }

    .my-icon {
        width: 15px;
        height: 15px;
    }

    .copy_text {
        display: block;
        font: bold 15px "Poppins", sans-serif ;
    }
    
    

    .custom_slider {
        -webkit-appearance: none; /*turns off the default look in chrome,edge,safari*/
        appearance: none; /*turns of the default look in mozilla*/
        width: 150px;
        height: 20px;
        padding-inline: 2px;
        border-radius: 50px;
        border: 2px solid rgba(255, 255, 255);
        margin-top: 15px;
        background-color: antiquewhite;
        cursor: pointer;
    }

    .custom_slider::-moz-range-thumb {
        width: 18px;
        height: 18px;
        background: rgb(83, 61, 83);
        
        border-radius: 50px;
        cursor: pointer;
        border: none;
        outline: none;
    }

    .custom_slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        background: rgb(83, 61, 83);
        border-radius: 50px;
        cursor: pointer;
        border: none;
        outline: none;
    }


}